<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension-point id="scriptDebugModel" name="%extension-point.name.scriptDebugModel"
		schema="schema/scriptDebugModel.exsd" />
 <extension-point id="smartStepEvaluator" name="%extension-point.name.smartStepEvaluator" schema="schema/smartStepEvaluator.exsd"/>
 <extension-point id="hotCodeReplaceProvider" name="%extension-point.name.hotCodeReplaceProvider" schema="schema/hotCodeReplaceProvider.exsd"/>
	
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.eclipse.dltk.mod.debug.core.DLTKDebugPluginPreferenceInitializer" />
	</extension>
	
	<extension id="scriptBreakpointMarker"
		point="org.eclipse.core.resources.markers">
		<persistent value="true"/>
		
		<super type="org.eclipse.debug.core.breakpointMarker" />
      	
      	<attribute name="org.eclipse.dltk.mod.debug.id"/>      
      	<attribute name="org.eclipse.dltk.mod.debug.hit_count"/>
      	<attribute name="org.eclipse.dltk.mod.debug.expression"/>
      	<attribute name="org.eclipse.dltk.mod.debug.expression.state"/>
      	<attribute name="org.eclipse.dltk.mod.debug.hit_value"/>
      	<attribute name="org.eclipse.dltk.mod.debug.hit_condition"/>
	</extension>
	
	<extension id="scriptLineBreakpointMarker"
		point="org.eclipse.core.resources.markers">
		<persistent value="true" />

		<super type="org.eclipse.dltk.mod.debug.scriptBreakpointMarker" />
		<super type="org.eclipse.debug.core.lineBreakpointMarker" />

	</extension>
	
	<extension id="scriptExceptionBreakpointMarker"
		point="org.eclipse.core.resources.markers">
		<persistent value="true" />

		<super type="org.eclipse.dltk.mod.debug.scriptBreakpointMarker" />
		
		<attribute name="org.eclipse.dltk.mod.debug.typeName"/>
		<attribute name="org.eclipse.dltk.mod.debug.caught"/>
		<attribute name="org.eclipse.dltk.mod.debug.uncaught"/>
		<attribute name="org.eclipse.dltk.mod.debug.suspend_on_subclasses"/>
	</extension>

	<extension id="scriptMethodEntryBreakpointMarker"
		point="org.eclipse.core.resources.markers">
		<persistent value="true" />

		<super type="org.eclipse.dltk.mod.debug.scriptLineBreakpointMarker" />

		<attribute name="org.eclipse.dltk.mod.debug.methodName"/>
		<attribute name="org.eclipse.dltk.mod.debug.methodEntry"/>
		<attribute name="org.eclipse.dltk.mod.debug.methodExit"/>
		<attribute name="org.eclipse.dltk.mod.debug.entryBrId"/>
		<attribute name="org.eclipse.dltk.mod.debug.exitBrId"/>
	</extension>
	
	<extension id="scriptWatchPointMarker"
		point="org.eclipse.core.resources.markers">
		<persistent value="true" />		
		
		<super type="org.eclipse.dltk.mod.debug.scriptLineBreakpointMarker" />
		<super type="org.eclipse.debug.core.lineBreakpointMarker" />
		
		<attribute name="org.eclipse.dltk.mod.debug.fieldName"/>
		<attribute name="org.eclipse.dltk.mod.debug.access"/>
		<attribute name="org.eclipse.dltk.mod.debug.modification"/>
	</extension>
	
	<extension id="scriptSpawnpointMarker"
		point="org.eclipse.core.resources.markers">
		<persistent value="true" />		
		<super type="org.eclipse.dltk.mod.debug.scriptLineBreakpointMarker" />
		<super type="org.eclipse.debug.core.lineBreakpointMarker" />
	</extension>

	<extension point="org.eclipse.debug.core.breakpoints">
		<breakpoint
      	  	class="org.eclipse.dltk.mod.internal.debug.core.model.ScriptLineBreakpoint"
        	id="scriptLineBreakpoint"
        	markerType="org.eclipse.dltk.mod.debug.scriptLineBreakpointMarker"
        	name="%ScriptLineBreakpoint.name"/>
		
		<breakpoint
        	class="org.eclipse.dltk.mod.internal.debug.core.model.ScriptMethodEntryBreakpoint"
    	    id="scriptMethodEntryBreakpoint"
	        markerType="org.eclipse.dltk.mod.debug.scriptMethodEntryBreakpointMarker"
        	name="%ScriptMethodEntryBreakpoint.name"/>
        	
		<breakpoint
	        class="org.eclipse.dltk.mod.internal.debug.core.model.ScriptWatchpoint"
    	    id="scriptWatchpoint"
        	markerType="org.eclipse.dltk.mod.debug.scriptWatchPointMarker"
        	name="%ScriptWatchpoint.name"/>
		<breakpoint
	        class="org.eclipse.dltk.mod.internal.debug.core.model.ScriptSpawnpoint"
    	    id="scriptSpawnpoint"
        	markerType="org.eclipse.dltk.mod.debug.scriptSpawnpointMarker"
        	name="%ScriptSpawnpoint.name"/>
  <breakpoint
        class="org.eclipse.dltk.mod.internal.debug.core.model.ScriptExceptionBreakpoint"
        id="scriptExceptionBreakpoint"
        markerType="org.eclipse.dltk.mod.debug.scriptExceptionBreakpointMarker"
        name="%ScriptExceptionBreakpoint.name">
  </breakpoint>
	</extension>
</plugin>
