<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="addVjoNaturePolicy" name="addVjoNaturePolicy" schema="schema/addVjoNaturePolicy.exsd"/>
   <extension point="org.eclipse.ui.editors">
               <editor
                     class="org.ebayopensource.vjet.eclipse.internal.ui.editor.VjoEditor"
                     contributorClass="org.eclipse.dltk.mod.internal.ui.editor.SourceModuleEditorActionContributor"
                     default="true"
                     extensions="js"
                     icon="platform:/plugin/org.eclipse.dltk.mod.javascript.ui/icons/obj16/sourceEditor.gif"
                     id="org.ebayopensource.vjet.ui.VjetJsEditor"
                     name="%vjoEditor">
         <contentTypeBinding contentTypeId="org.eclipse.dltk.mod.vjoContentType">
         </contentTypeBinding>
         </editor>
   </extension>
   <extension point="org.eclipse.dltk.mod.ui.language">
      <language class="org.ebayopensource.vjet.eclipse.internal.ui.VjetUILanguageToolkit" nature="org.ebayopensource.vjet.core.nature">
      </language>
   </extension>
   <!--
   <extension id="VjoTypeCompletionProposalComputer" point="org.eclipse.dltk.mod.ui.scriptCompletionProposalComputer">
      <scriptCompletionProposalComputer categoryId="org.eclipse.dltk.mod.ui.scriptTypeProposalCategory" class="org.ebayopensource.vjet.eclipse.internal.ui.text.completion.VjoTypeCompletionProposalComputer" toolkitId="org.ebayopensource.vjet.core.nature">
         <partition type="__dftl_partition_content_type">
         </partition>
      </scriptCompletionProposalComputer>
   </extension>
   -->
  <extension
        point="org.eclipse.dltk.mod.ui.scriptDocumentationProviders">
     <provider
           class="org.ebayopensource.vjet.eclipse.internal.ui.scriptdoc.VjetScriptDocProvider"
           id="org.ebayopensource.vjet.eclipse.internal.ui.scriptdoc"
           nature="org.ebayopensource.vjet.core.nature">
     </provider>
  </extension>  
   <extension id="VjoTypeCompletionProposalComputer" point="org.eclipse.dltk.mod.ui.scriptCompletionProposalComputer">
      <scriptCompletionProposalComputer categoryId="org.eclipse.dltk.mod.ui.scriptTypeProposalCategory" class="org.ebayopensource.vjet.eclipse.internal.ui.text.completion.VjoTypeCompletionProposalComputerBaseJst" toolkitId="org.ebayopensource.vjet.core.nature">
         <partition type="__dftl_partition_content_type">
         </partition>
         <partition type="__javascript_string">
         </partition>
      </scriptCompletionProposalComputer>
      <scriptCompletionProposalComputer categoryId="org.eclipse.dltk.mod.ui.scriptTypeProposalCategory" class="org.ebayopensource.vjet.eclipse.internal.ui.text.completion.VjoCommentCompletionProposalComputer" toolkitId="org.ebayopensource.vjet.core.nature">
         <partition type="__javascript_single_comment">
         </partition>
      </scriptCompletionProposalComputer>
   </extension>
   
   <extension id="VjoTypeCompletionProposalComputer" point="org.eclipse.dltk.mod.ui.scriptCompletionProposalComputer">
      <scriptCompletionProposalComputer categoryId="org.eclipse.dltk.mod.ui.templateProposalCategory" class="org.ebayopensource.vjet.eclipse.internal.ui.text.completion.VjoTemplateCompletionProposalComputer" toolkitId="org.ebayopensource.vjet.core.nature">
         <partition type="__dftl_partition_content_type">
         </partition>
      </scriptCompletionProposalComputer>
   </extension>
 
   <extension id="VjoTextCompletionProposalComputer" point="org.eclipse.dltk.mod.ui.scriptCompletionProposalComputer">
      <scriptCompletionProposalComputer activate="true" categoryId="org.eclipse.dltk.mod.ui.textProposalCategory" class="org.ebayopensource.vjet.eclipse.internal.ui.text.completion.VjoTextCompletionProposalComputer" toolkitId="org.ebayopensource.vjet.core.nature">
         <partition type="__javascript_string">
         </partition>
      </scriptCompletionProposalComputer>
   </extension>
   <extension point="org.eclipse.ui.actionSets">
               <actionSet label="%VjetActionSet.label" description="%VjetActionSet.description" visible="false" id="org.ebayopensource.vjet.eclipse.ui.VjetActionSet">
         <action 
         		class="org.ebayopensource.vjet.eclipse.ui.actions.VjoOpenTypeAction" 
         		definitionId="org.eclipse.jdt.ui.navigate.open.type" 
         		icon="platform:/plugin/org.eclipse.dltk.mod.ui/icons/full/etool16/opentype.gif" 
         		id="org.ebayopensource.vjet.eclipse.ui.openType" label="%OpenTypeAction.label" 
         		menubarPath="navigate/open.ext2" 
         		tooltip="%OpenTypeAction.tooltip">
         </action>
         <action
               definitionId="org.eclipse.jdt.ui.edit.text.java.add.javadoc.comment"
               label="%AddJavaDocComment.label"
               retarget="true"
               menubarPath="org.eclipse.dltk.mod.ui.source.menu/commentGroup"
               id="org.ebayopensource.vjet.eclipse.ui.AddJavaDocComment">
         </action>
         </actionSet>
   </extension>
   <extension point="org.eclipse.ui.bindings">
   <!--
          	<key sequence="M1+M2+T" contextId="org.eclipse.dltk.mod.ui.scriptEditorScope" commandId="org.eclipse.dltk.mod.ui.navigate.open.type" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
       -->
            <key sequence="M2+M3+O" contextId="org.eclipse.dltk.mod.ui.scriptEditorScope" commandId="org.eclipse.dltk.mod.ui.edit.text.script.toggleMarkOccurrences" schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>
   <extension point="org.eclipse.core.expressions.definitions">
      <definition id="org.ebayopensource.vjet.eclipse.ui.inDltk">
         <with variable="activePartId">
               <or>
				<equals value="org.eclipse.jdt.ui.PackageExplorer"/>
				<equals value="org.eclipse.jdt.ui.ClassFileEditor"/>
				<equals value="org.eclipse.jdt.ui.CompilationUnitEditor"/>
				<equals value="org.ebayopensource.vjet.ui.VjetJsEditor"/>
				<equals value="org.eclipse.dltk.mod.ui.ScriptExplorer"/>
				<equals value="org.eclipse.ui.views.PropertySheet"/>
				<equals value="org.eclipse.ui.views.ContentOutline"/>
				<equals value="org.eclipse.dltk.mod.ui.browsing.PackageExplorer"/>
	            <equals value="org.ebayopensource.vjet.eclipse.ui.view.AST"/>
				<equals value="org.eclipse.dltk.mod.callhierarchy.view"/>
				<equals value="org.eclipse.dltk.mod.ui.browsing.JavadocView"/>
				<equals value="org.eclipse.dltk.mod.ui.browsing.MembersView"/>
				<equals value="org.eclipse.dltk.mod.ui.browsing.PackagesView"/>
				<equals value="org.eclipse.dltk.mod.ui.browsing.ProjectsView"/>
				<equals value="org.ebayopensource.vjet.eclipse.ui.view.scriptUnit"/>
				<equals value="org.eclipse.dltk.mod.ui.browsing.SourceView"/>
				<equals value="org.eclipse.dltk.mod.ui.browsing.TypesView"/>
				<equals value="org.ebayopensource.vjet.eclipse.ui.view.typeSpace"/>
				<equals value="org.eclipse.jdt.ui.JavadocView"/>
				<equals value="org.eclipse.jdt.ui.MembersView"/>
				<equals value="org.eclipse.jdt.ui.PackagesView"/>
				<equals value="org.eclipse.jdt.ui.ProjectsView"/>
				<equals value="org.eclipse.jdt.ui.SourceView"/>
				<equals value="org.eclipse.jdt.ui.TypesView"/>
				<equals value="org.eclipse.jdt.ui.TypeHierarchy"/>
            	</or>
         </with>
      </definition>
   </extension>
   <extension point="org.eclipse.ui.handlers">
      <handler class="org.ebayopensource.vjet.eclipse.internal.ui.actions.VjoOpenTypeHandler" commandId="org.eclipse.jdt.ui.navigate.open.type">
         <activeWhen>
            <reference definitionId="org.ebayopensource.vjet.eclipse.ui.inDltk">
            </reference>
         </activeWhen>
      </handler>
   </extension>
   
   <extension point="org.eclipse.ui.actionSetPartAssociations">
   	  <!-- comment by kevin, remove extra 'Open Type' menu
      <actionSetPartAssociation targetID="org.ebayopensource.vjet.eclipse.ui.VjetActionSet">
	  <part id="org.eclipse.dltk.mod.ui.ScriptExplorer"/>
	  <part id="org.ebayopensource.vjet.ui.VjetJsEditor"/>
      </actionSetPartAssociation>
      -->
      
      <actionSetPartAssociation targetID="org.eclipse.ui.edit.text.actionSet.presentation">
         <part id="org.ebayopensource.vjet.ui.VjetJsEditor"/>
      </actionSetPartAssociation>
      
      <actionSetPartAssociation targetID="org.eclipse.dltk.mod.ui.edit.text.script.toggle.presentation">
         <part id="org.ebayopensource.vjet.ui.VjetJsEditor"/>
      </actionSetPartAssociation>
   </extension>

<!--	<extension
         point="org.eclipse.ui.newWizards">
         <category
            id="org.ebayopensource.vjet.eclipse.ui"
            name="%vjoCategory"
            >
      </category>
      <wizard
            category="org.ebayopensource.vjet.eclipse.ui"
            class="org.ebayopensource.vjet.eclipse.internal.ui.wizards.VjoProjectCreationWizard"
            finalPerspective="org.eclipse.dltk.mod.javascript.ui.JavascriptPerspective"
            icon="platform:/plugin/org.eclipse.dltk.mod.javascript.ui/icons/ctool16/newjscript_wiz.gif"
            id="org.ebayopensource.vjet.eclipse.internal.ui.wizards.JavascriptProjectWizard"
            name="%vjoProject"
            preferredPerspectives="org.eclipse.dltk.mod.javascript.ui.JavascriptPerspective"
            project="true">
         <description>
            %vjoProjectDescription
         </description>
      </wizard>
       <wizard
             category="org.ebayopensource.vjet.eclipse.ui"
             class="org.ebayopensource.vjet.eclipse.internal.ui.wizards.JavaScriptFileCreationWizard"
             icon="platform:plugin/org.eclipse.dltk.mod.javascript.ui/icons/ctool16/newjscript_wiz.gif"
             id="org.eclipse.dltk.mod.javascript.internal.ui.wizards.JavaScriptFileCreationWizard"
             name="%newVjoFile">
          <description>
          	%newVjoFileDescription
          </description>
       </wizard>
      </extension> -->
   <extension point="org.eclipse.ui.popupMenus">
      <objectContribution adaptable="true" id="org.ebayopensource.vjet.eclipse.core.addVjoNatureAction" objectClass="org.eclipse.core.resources.IResource">
      		<menu id="com.ebay.vjet.shortcuts.menu" label="VJet">
				<separator name="group_general"/>
				<separator name="group_other"/>
			</menu>
         <action class="org.ebayopensource.vjet.eclipse.internal.ui.actions.AddVjoNatureAction" enablesFor="1" icon="platform:/plugin/org.eclipse.dltk.mod.javascript.ui/icons/ctool16/newjscript_wiz.gif" id="org.ebayopensource.vjet.eclipse.core.addVjoNatureAction" label="%addVjetNature.label" menubarPath="com.ebay.vjet.shortcuts.menu/group_general" style="push">
         </action>
         <action class="org.ebayopensource.vjet.eclipse.internal.ui.actions.UpdateVjetBuildPathFromJavaClasspathAction" enablesFor="1" icon="platform:/plugin/org.eclipse.dltk.mod.javascript.ui/icons/ctool16/newjscript_wiz.gif" id="org.ebayopensource.vjet.eclipse.internal.ui.actions.UpdateVjetBuildPathFromJavaClasspathAction" label="%updateVjetBuildpath.label" menubarPath="com.ebay.vjet.shortcuts.menu/group_general" style="push">
         </action>
         <visibility>
         	<objectState name="open" value="true">
            	</objectState>
         </visibility>
            </objectContribution>
      <objectContribution adaptable="true" id="org.ebayopensource.vjet.eclipse.internal.ui.actions.VjoValidationAction" objectClass="org.eclipse.core.resources.IResource">
      <menu id="com.ebay.vjet.shortcuts.menu" label="VJet">
				<separator name="group_validation"/>
			</menu>
         <action class="org.ebayopensource.vjet.eclipse.internal.ui.actions.VjoValidationAction" enablesFor="+" icon="platform:/plugin/org.eclipse.dltk.mod.javascript.ui/icons/ctool16/newjscript_wiz.gif" id="org.ebayopensource.vjet.eclipse.ui.vjoValidation" label="%vjetValidate" menubarPath="com.ebay.vjet.shortcuts.menu/group_validation" style="push">
         </action>
      </objectContribution>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <category id="org.ebayopensource.vjet.eclipse.ui" name="%vjoCategory">
      </category>
      <wizard category="org.ebayopensource.vjet.eclipse.ui" class="org.ebayopensource.vjet.eclipse.internal.ui.wizards.VjetProjectCreationWizard" finalPerspective="org.eclipse.dltk.mod.javascript.ui.JavascriptPerspective" icon="platform:/plugin/org.eclipse.dltk.mod.javascript.ui/icons/ctool16/newjscript_wiz.gif" id="org.ebayopensource.vjet.eclipse.ui.VJETProjectWizard" name="%vjoProject" preferredPerspectives="org.eclipse.dltk.mod.javascript.ui.JavascriptPerspective" project="true">
         <description>
            %vjoProjectDescription
         </description>
      </wizard>
      <!-- <wizard
             category="org.ebayopensource.vjet.eclipse.ui"
             class="org.ebayopensource.vjet.eclipse.internal.ui.wizards.VjoFileCreationWizard"
             icon="platform:/plugin/org.eclipse.dltk.mod.javascript.ui/icons/ctool16/newjscript_wiz.gif"
             id="org.ebayopensource.vjet.eclipse.ui.VjoFileCreationWizard"
             name="%VJOFile.label">
         <description>
            %newVjoFileDescription
         </description>
       </wizard> -->                   
       <wizard category="org.ebayopensource.vjet.eclipse.ui" class="org.ebayopensource.vjet.eclipse.internal.ui.wizards.NewJsFileWizard" descriptionImage="icons/full/obj16/imp_lib.gif" icon="platform:/plugin/org.eclipse.dltk.mod.javascript.ui/icons/ctool16/newjscript_wiz.gif" id="org.ebayopensource.vjet.eclipse.ui.JsFileCreation" name="%NewJsFile.label">
         <description>
            %createNewJsFile
         </description>                               
       </wizard>              
       <wizard category="org.ebayopensource.vjet.eclipse.ui" class="org.ebayopensource.vjet.eclipse.internal.ui.wizards.VjoClassCreationWizard" descriptionImage="icons/full/obj16/imp_lib.gif" icon="platform:/plugin/org.eclipse.dltk.mod.javascript.ui/icons/ctool16/newjscript_wiz.gif" id="org.ebayopensource.vjet.eclipse.ui.VjoClassCreationWizard" name="%VJOClass.label">
         <description>
            %newVjoClassDescription
         </description>                               
       </wizard>              
           <wizard category="org.ebayopensource.vjet.eclipse.ui" class="org.ebayopensource.vjet.eclipse.internal.ui.wizards.VjoInterfaceCreationWizard" descriptionImage="icons/full/obj16/imp_lib.gif" icon="platform:/plugin/org.eclipse.dltk.mod.javascript.ui/icons/ctool16/newjscript_wiz.gif" id="org.ebayopensource.vjet.eclipse.ui.VjoInterfaceCreationWizard" name="%VJOInterface.label">
         <description>
            %newVjoInterfaceDescription
         </description>
         </wizard>
           <wizard category="org.ebayopensource.vjet.eclipse.ui" class="org.ebayopensource.vjet.eclipse.internal.ui.wizards.VjoPackageCreationWizard" descriptionImage="icons/full/obj16/imp_lib.gif" icon="platform:/plugin/org.eclipse.dltk.mod.javascript.ui/icons/ctool16/newjscript_wiz.gif" id="org.ebayopensource.vjet.eclipse.ui.VjoPackageCreationWizard" name="%VJOPackage.label">
              <description>
                 %newVjoPackageDescription
              </description>
           </wizard>        
                         
          <wizard category="org.ebayopensource.vjet.eclipse.ui" class="org.ebayopensource.vjet.eclipse.internal.ui.wizards.VjoEnumCreationWizard" descriptionImage="icons/full/obj16/imp_lib.gif" icon="platform:/plugin/org.eclipse.dltk.mod.javascript.ui/icons/ctool16/newjscript_wiz.gif" id="org.ebayopensource.vjet.eclipse.ui.VjoEnumCreationWizard" name="%VJOEnum.label">
         <description>
            %newVjoEnumDescription
         </description>
         </wizard>
         
         <wizard category="org.ebayopensource.vjet.eclipse.ui" class="org.ebayopensource.vjet.eclipse.internal.ui.wizards.VjoMixinCreationWizard" descriptionImage="icons/full/obj16/imp_lib.gif" icon="platform:/plugin/org.eclipse.dltk.mod.javascript.ui/icons/ctool16/newjscript_wiz.gif" id="org.ebayopensource.vjet.eclipse.ui.VjoMixinCreationWizard" name="%VJOMixin.label">
         <description>
            %newVjoMixinDescription
         </description>
         </wizard>
                           
         <wizard category="org.ebayopensource.vjet.eclipse.ui" class="org.ebayopensource.vjet.eclipse.internal.ui.wizards.VjoOTypeCreationWizard" descriptionImage="icons/full/obj16/imp_lib.gif" icon="platform:/plugin/org.eclipse.dltk.mod.javascript.ui/icons/ctool16/newjscript_wiz.gif" id="org.ebayopensource.vjet.eclipse.ui.VjoOTypeCreationWizard" name="%VJOOType.label">
         <description>
           %otypeWizard.description
         </description>
         </wizard>
         
        <wizard category="org.ebayopensource.vjet.eclipse.ui" class="org.ebayopensource.vjet.eclipse.internal.ui.wizards.VjoNewSourceFolderCreationWizard" descriptionImage="icons/full/obj16/imp_lib.gif" icon="platform:/plugin/org.eclipse.dltk.mod.javascript.ui/icons/ctool16/newpackfolder_wiz.gif" id="org.ebayopensource.vjet.eclipse.ui.NewSourceFolderCreationWizard" name="%VJOSourcefolder.label">
         <description>
            %newVjoMixinDescription
         </description>
         </wizard>
                 
   </extension>
   <extension point="org.eclipse.ui.ide.projectNatureImages">
      <image icon="icons/vjet_ovr.gif" id="org.ebayopensource.vjet.eclipse.ui.natureImage" natureId="org.ebayopensource.vjet.core.nature">
      </image>
   </extension>
     <!--extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.dltk.mod.javascript.ui.JavascriptPerspective">
         <newWizardShortcut id="org.ebayopensource.vjet.eclipse.ui.VJETProjectWizard">
         </newWizardShortcut>
          <newWizardShortcut id="org.ebayopensource.vjet.eclipse.ui.VjoClassCreationWizard">
         </newWizardShortcut>
  <newWizardShortcut id="org.ebayopensource.vjet.eclipse.ui.VjoInterfaceCreationWizard">
         </newWizardShortcut>         
         <newWizardShortcut id="org.ebayopensource.vjet.eclipse.ui.VjoPackageCreationWizard">
         </newWizardShortcut>
   <newWizardShortcut id="org.ebayopensource.vjet.eclipse.ui.VjoEnumCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut id="org.ebayopensource.vjet.eclipse.ui.VjoMixinCreationWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.ebayopensource.vjet.eclipse.ui.JavascriptBrowsingPerspective">
         <newWizardShortcut id="org.ebayopensource.vjet.eclipse.ui.VJETProjectWizard">
         </newWizardShortcut>
         <newWizardShortcut id="org.ebayopensource.vjet.eclipse.ui.VjoPackageCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut id="org.ebayopensource.vjet.eclipse.ui.VjoClassCreationWizard">
         </newWizardShortcut>
  <newWizardShortcut id="org.ebayopensource.vjet.eclipse.ui.VjoInterfaceCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut id="org.ebayopensource.vjet.eclipse.ui.VjoEnumCreationWizard">
         </newWizardShortcut>
         <newWizardShortcut id="org.ebayopensource.vjet.eclipse.ui.VjoMixinCreationWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension-->
 <extension point="org.eclipse.ui.propertyPages">
    <page category="org.ebayopensource.vjet.eclipse.propertyPage" class="org.ebayopensource.vjet.eclipse.internal.ui.preferences.VjetBuildPathPropertyPage" id="org.ebayopensource.vjet.eclipse.ui.BuildpathProperties" name="%VjetBuildPathPropertyPage.name">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
          <test property="org.eclipse.core.resources.projectNature" value="org.ebayopensource.vjet.core.nature"/>
        </adapt>         
      </enabledWhen>
      <keywordReference id="org.eclipse.dltk.mod.ui.buildpath"/>
    </page>    
    
    <page name="%VjetPropertyPage.name" class="org.ebayopensource.vjet.eclipse.internal.ui.preferences.VjetPropertyPage" id="org.ebayopensource.vjet.eclipse.propertyPage">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
          <test property="org.eclipse.core.resources.projectNature" value="org.ebayopensource.vjet.core.nature"/>
        </adapt>         
      </enabledWhen>
    </page>
    <page category="org.ebayopensource.vjet.eclipse.propertyPage" class="org.ebayopensource.vjet.eclipse.internal.ui.preferences.VjetCodeCompliancePage" id="org.ebayopensource.vjet.eclipse.propertyPage.codeCompliance" name="%CodeCompliancePage.name">
    	<enabledWhen>
	        <adapt type="org.eclipse.core.resources.IProject">
	          <test property="org.eclipse.core.resources.projectNature" value="org.ebayopensource.vjet.core.nature"/>
	        </adapt> 
        </enabledWhen> 
    </page>         
    <page category="org.ebayopensource.vjet.eclipse.propertyPage.codeCompliance" class="org.ebayopensource.vjet.eclipse.internal.ui.preferences.VjetProblemSeveritiesPreferencePage" id="org.ebayopensource.vjet.eclipse.ui.propertyPages.ProblemSeveritiesPreferencePage" name="%VJOProblemSeveritiesPage.name">
    	<enabledWhen>
	        <adapt type="org.eclipse.core.resources.IProject">
	          <test property="org.eclipse.core.resources.projectNature" value="org.ebayopensource.vjet.core.nature"/>
	        </adapt> 
        </enabledWhen> 
    </page>         
 </extension>
 <extension point="org.eclipse.ui.preferencePages"> 	          
	    <page class="org.ebayopensource.vjet.eclipse.internal.ui.preferences.VjetGlobalPreferencesPage" id="org.ebayopensource.vjet.eclipse.ui.vjet" name="%VJOPreferencePage.name"/>
	   	<page category="org.ebayopensource.vjet.eclipse.ui.vjet" class="org.ebayopensource.vjet.eclipse.internal.ui.preferences.VjetEditorPreferencesPage" id="org.ebayopensource.vjet.eclipse.ui.EditorPreferences" name="%vjetEditorPropertyPage.name"/>
	    <page category="org.eclipse.dltk.mod.preferences.validators" class="org.ebayopensource.vjet.eclipse.internal.ui.preferences.VjetCodeCompliancePage" id="org.ebayopensource.vjet.eclipse.preferencePage.codeCompliance" name="%CodeCompliancePage.name"/>
	    <page category="org.ebayopensource.vjet.eclipse.ui.EditorPreferences" class="org.ebayopensource.vjet.eclipse.internal.ui.preferences.VjetEditorSyntaxColoringPreferencePage" id="org.ebayopensource.vjet.eclipse.ui.editor.SyntaxColoring" name="%vjetSyntaxColoringPreferencePage.name"/>
	    <page category="org.ebayopensource.vjet.eclipse.ui.EditorPreferences" class="org.ebayopensource.vjet.eclipse.internal.ui.preferences.VjetSmartTypingPreferencePage" id="org.ebayopensource.vjet.eclipse.ui.editor.SmartTyping" name="%vjetSmartTypingPreferencePage.name"/>
	    <page category="org.ebayopensource.vjet.eclipse.ui.EditorPreferences" class="org.ebayopensource.vjet.eclipse.internal.ui.preferences.VjetFoldingPreferencePage" id="org.ebayopensource.vjet.eclipse.ui.editor.JavascriptFolding" name="%vjetFoldingPreferencePage.name"/>
	    <page category="org.ebayopensource.vjet.eclipse.ui.EditorPreferences" class="org.ebayopensource.vjet.eclipse.internal.ui.preferences.VjetCodeAssistPreferencePage" id="org.ebayopensource.vjet.eclipse.ui.vjet.CodeAssist" name="%VJOCodeAssistPreferencePage.name"/>
		<page category="org.ebayopensource.vjet.eclipse.ui.EditorPreferences" class="org.ebayopensource.vjet.eclipse.internal.ui.templates.VjetTemplatePreferencePage" id="org.ebayopensource.vjet.eclipse.ui.editor.Templates" name="%vjetTemplatesPreferencePage.name"/>
		<page category="org.ebayopensource.vjet.eclipse.ui.EditorPreferences" class="org.ebayopensource.vjet.eclipse.internal.ui.preferences.VjetEditorOtherPreferencePage" id="org.ebayopensource.vjet.eclipse.ui.editor.others" name="%vjetEditorOthers.name"/>
		 <page category="org.ebayopensource.vjet.eclipse.ui.vjet" class="org.eclipse.dltk.mod.validators.internal.ui.ValidatorPreferencePage" id="org.eclipse.dltk.mod.preferences.validators" name="%page.name.validators"/>
		 <page name="%vjetMarkOccurrencesPreferencePage.name" category="org.ebayopensource.vjet.eclipse.ui.EditorPreferences" class="org.ebayopensource.vjet.eclipse.internal.ui.preferences.VjetMarkOccurrencesPreferencePage" id="org.ebayopensource.vjet.eclipse.ui.editor.MarkOccurrencesPreferencePage">
         <keywordReference id="org.ebayopensource.vjet.eclipse.ui.markoccurrences"/>
      </page>
      
 	<page category="org.eclipse.dltk.mod.preferences.validators" class="org.ebayopensource.vjet.eclipse.internal.ui.preferences.VjetTodoTaskPreferencePage" id="org.ebayopensource.vjet.eclipse.ui.page1" name="%taskTagsPage.name">
   </page>
   <page category="org.ebayopensource.vjet.eclipse.ui.vjet" class="org.ebayopensource.vjet.eclipse.internal.ui.preferences.VJOBuildPathPreferencePage" id="org.ebayopensource.vjet.eclipse.ui.vjet.BuildPath" name="%VJOBuildPathPreferencePage.name">
   </page>
   <page category="org.eclipse.dltk.mod.preferences.validators" class="org.ebayopensource.vjet.eclipse.internal.ui.preferences.VjetProblemSeveritiesPreferencePage" id="org.ebayopensource.vjet.eclipse.ui.preferences.ProblemSeveritiesPreferencePage" name="%VJOProblemSeveritiesPage.name">
   </page>
	<page name="%membersSortOrderPage.name" category="org.ebayopensource.vjet.eclipse.ui.vjet" class="org.ebayopensource.vjet.eclipse.internal.ui.preferences.VJOMembersOrderPreferencePage" id="org.ebayopensource.vjet.eclipse.ui.preferences.MembersOrderPreferencePage">

         <keywordReference id="org.ebayopensource.vjet.eclipse.ui.sortorder"/>
      </page>
   <!--
	<page
         name="Installed SDKs"
         category="org.ebayopensource.vjet.eclipse.ui.vjet"
         class="org.ebayopensource.vjet.eclipse.internal.ui.preferences.VjetSdkPreferencePage"
         id="org.ebayopensource.vjet.eclipse.internal.ui.preferences.VjetSdkPreferencePage">
    </page>
   -->
      <!--Temporarily comment this preference page for bug 5839.-->
   <!--page
         category="org.ebayopensource.vjet.eclipse.ui.vjet"
         class="org.ebayopensource.vjet.eclipse.internal.ui.preferences.codestyle.CodeTemplatePreferencePage"
         id="org.ebayopensource.vjet.eclipse.ui.editor.codestyle.template"
         name="Code Templates">
   </page-->
      
 </extension>
 <extension point="org.eclipse.core.runtime.preferences">
        <initializer class="org.ebayopensource.vjet.eclipse.internal.ui.VjetUIPreferenceInitializer"/>
  </extension>
   <extension point="org.eclipse.ui.editors.templates">
      <contextType class="org.ebayopensource.vjet.eclipse.internal.ui.templates.VjoTemplateContextType" id="vjoTemplateContextType" name="%vjetTemplatesContextType.name">
      </contextType>
      <include file="templates/templates.xml" translations="templates/templates.properties">
      </include>
   </extension>
   
   <extension point="org.eclipse.dltk.mod.ui.searchQueryFactories">
      <factory class="org.ebayopensource.vjet.eclipse.ui.VjoSearchQueryFactory" nature="org.ebayopensource.vjet.core.nature" priority="0">
      </factory>
   </extension>
   <extension point="org.eclipse.ui.perspectives">
      <perspective class="org.ebayopensource.vjet.eclipse.internal.ui.browsing.JavascriptBrowsingPerspectiveFactory" icon="icons/full/eview16/javascript_persp.gif" id="org.ebayopensource.vjet.eclipse.ui.JavascriptBrowsingPerspective" name="%vjetBrowsingPerspective.label"/>
   </extension>
   <extension point="org.eclipse.ui.views">
         <category name="%vjetBrowsingCategory.name" id="org.ebayopensource.vjet.eclipse.ui.javascript.browsing" class="org.ebayopensource.vjet.eclipse.internal.ui.browsing.JavascriptBrowsingPerspectiveFactory:org.ebayopensource.vjet.core.nature">
      </category>
       <view name="%vjetProjectsView.name" icon="icons/full/eview16/projects.gif" category="org.ebayopensource.vjet.eclipse.ui.javascript.browsing" class="org.eclipse.dltk.mod.ui.browsing.ProjectsView:org.ebayopensource.vjet.core.nature" id="org.eclipse.dltk.mod.ui.browsing.ProjectsView">
      </view>
      <view name="%vjetPackagesView.name" icon="icons/full/eview16/packages.gif" category="org.ebayopensource.vjet.eclipse.ui.javascript.browsing" class="org.eclipse.dltk.mod.ui.browsing.PackagesView:org.ebayopensource.vjet.core.nature" id="org.eclipse.dltk.mod.ui.browsing.PackagesView">
      </view>  
      <view name="%vjetTypesView.name" icon="icons/full/eview16/types.gif" category="org.ebayopensource.vjet.eclipse.ui.javascript.browsing" class="org.ebayopensource.vjet.eclipse.internal.ui.browsing.VjetTypesView::org.ebayopensource.vjet.core.nature" id="org.eclipse.dltk.mod.ui.browsing.TypesView">
      </view>
      <view name="%vjetMembersView.name" icon="icons/full/eview16/members.gif" category="org.ebayopensource.vjet.eclipse.ui.javascript.browsing" class="org.ebayopensource.vjet.eclipse.internal.ui.browsing.VjetMembersView:org.ebayopensource.vjet.core.nature" id="org.eclipse.dltk.mod.ui.browsing.MembersView">
      </view>
      	    <view category="org.eclipse.dltk.mod.ui.main" class="org.ebayopensource.vjet.eclipse.internal.ui.typehierarchy.VJOTypeHierarchyViewPart" icon="$nl$/icons/full/eview16/class_hi.gif" id="org.eclipse.dltk.mod.ui.TypeHierarchy" name="%TypeHierarchy.name">
	    </view>
   </extension>
   <extension point="org.eclipse.ui.commands">
      	<command name="%toggleMarkOccurrence.name" description="%toggleMarkOccurrence.description" categoryId="org.eclipse.dltk.mod.ui.category.source" id="org.eclipse.dltk.mod.ui.edit.text.script.toggleMarkOccurrences">
      	</command>
      <command name="%ActionDefinition.removeOccurrenceAnnotations.name" description="%ActionDefinition.removeOccurrenceAnnotations.description" categoryId="org.eclipse.dltk.mod.ui.category.source" id="org.eclipse.dltk.mod.ui.edit.text.script.remove.occurrence.annotations">
      </command>
   </extension>
   <extension point="org.eclipse.dltk.mod.ui.scriptElementLabelProviders">
      <labelProvider class="org.ebayopensource.vjet.eclipse.ui.VjoElementImageProvider" nature="org.ebayopensource.vjet.core.nature"/>
   </extension>
   <!-- mark occurrences -->
  	<extension point="org.eclipse.ui.actionSets">
      <actionSet label="%vjetEditorPresentationActionSet.label" visible="false" id="org.eclipse.dltk.mod.ui.edit.text.script.toggle.presentation">
         <action allowLabelUpdate="true" definitionId="org.eclipse.dltk.mod.ui.edit.text.script.toggleMarkOccurrences" disabledIcon="icons/full/dtolol16/mark_occurrences.gif" helpContextId="toggle_mark_occurrences_action_context" icon="icons/full/etool16/mark_occurrences.gif" id="org.eclipse.dltk.mod.ui.edit.text.script.toggleMarkOccurrences" label="%toggleMarkOccurrences.label" retarget="true" style="toggle" toolbarPath="org.eclipse.ui.edit.text.actionSet.presentation/Presentation" tooltip="%toggleMarkOccurrences.tooltip">
         </action>
      </actionSet>
   </extension>
   <extension point="org.eclipse.ui.keywords">
   		<keyword label="%preferenceKeywords.markoccurrences" id="org.eclipse.dltk.mod.ui.edit.text.script.toggleMarkOccurrences"/>
   	</extension>
   	<extension point="org.eclipse.dltk.mod.ui.formatterFactory">
		<engineContribution natureId="org.ebayopensource.vjet.core.nature">
			<formatterFactory class="org.ebayopensource.vjet.eclipse.ui.formatter.VjetFormatterFactory" id="org.ebayopensource.vjet.eclipse.ui.formatter.VjetFormatterFactory" priority="10" name="%formatterFactory.name.vjet" description="%formatterFactory.description.vjet">
			</formatterFactory>
		</engineContribution>
	</extension>
  <extension point="org.ebayopensource.vjet.eclipse.ui.addVjoNaturePolicy">
     <naturePolicy class="org.ebayopensource.vjet.eclipse.ui.actions.nature.java.JavaProjectAddVjoNaturePolicy" description="add vjo nature policy for java project">
     </naturePolicy>
  </extension>
  
  
  <extension point="org.eclipse.dltk.mod.ui.dltkElementFilters">
<!-- Script Explorer -->
      <filter targetId="org.eclipse.dltk.mod.ui.ScriptExplorer" description="%HidePackageDeclaration.description" enabled="true" id="org.ebayopensource.vjet.eclipse.ui.ScriptExplorer.PackageDeclarationFilter" name="%HidePackageDeclaration.label" class="org.ebayopensource.vjet.eclipse.internal.ui.filters.PackageDeclarationFilter">
      </filter>
      
  
      <filter targetId="org.eclipse.dltk.mod.ui.ScriptExplorer" name="%HideImportDeclaration.label" enabled="true" description="%HideImportDeclaration.description" class="org.ebayopensource.vjet.eclipse.internal.ui.filters.ImportDeclarationFilter" id="org.ebayopensource.vjet.eclipse.ui.ScriptExplorer.ImportDeclarationFilter">
      </filter>
      
      <filter targetId="org.eclipse.dltk.mod.ui.ScriptExplorer" name="%HideStatics.label" enabled="false" description="%HideStatics.description" class="org.ebayopensource.vjet.eclipse.internal.ui.filters.StaticsFilter" id="org.ebayopensource.vjet.eclipse.ui.ScriptExplorer.StaticsFilter">
      </filter>
      <filter targetId="org.eclipse.dltk.mod.ui.ScriptExplorer" name="%HideNonPublic.label" enabled="false" description="%HideNonPublic.description" class="org.ebayopensource.vjet.eclipse.internal.ui.filters.NonPublicFilter" id="org.ebayopensource.vjet.eclipse.ui.ScriptExplorer.NonPublicFilter">
      </filter>
      <filter targetId="org.eclipse.dltk.mod.ui.ScriptExplorer" name="%HideLocalTypes.label" enabled="false" description="%HideLocalTypes.description" class="org.ebayopensource.vjet.eclipse.internal.ui.filters.LocalTypesFilter" id="org.ebayopensource.vjet.eclipse.ui.ScriptExplorer.LocalTypesFilter">
      </filter>
      
      
      <!--vjo outline-->
      
       <filter targetId="org.eclipse.dltk.mod.ui.ScriptOutlinePage" name="%HidePackageDeclaration.label" enabled="false" description="%HidePackageDeclaration.description" class="org.ebayopensource.vjet.eclipse.internal.ui.filters.PackageDeclarationFilter" id="org.ebayopensource.vjet.eclipse.ui.VjoOutline.PackageDeclarationFilter">
       </filter>

      <filter targetId="org.eclipse.dltk.mod.ui.ScriptOutlinePage" name="%HideImportDeclaration.label" enabled="false" description="%HideImportDeclaration.description" class="org.ebayopensource.vjet.eclipse.internal.ui.filters.ImportDeclarationFilter" id="org.ebayopensource.vjet.eclipse.ui.VjoOutline.ImportDeclarationFilter">
      </filter>
      
       <!--vjo quick outline-->
        <filter targetId="org.eclipse.dltk.mod.internal.ui.text.QuickOutline" name="%HidePackageDeclaration.label" enabled="false" description="%HidePackageDeclaration.description" class="org.ebayopensource.vjet.eclipse.internal.ui.filters.PackageDeclarationFilter" id="org.ebayopensource.vjet.eclipse.ui.quickOutline.PackageDeclarationFilter">
       </filter>

      <filter targetId="org.eclipse.dltk.mod.internal.ui.text.QuickOutline" name="%HideImportDeclaration.label" enabled="true" description="%HideImportDeclaration.description" class="org.ebayopensource.vjet.eclipse.internal.ui.filters.ImportDeclarationFilter" id="org.ebayopensource.vjet.eclipse.ui.quickOutline.ImportDeclarationFilter">
      </filter>
      
        <filter targetId="org.eclipse.dltk.mod.internal.ui.text.QuickOutline" name="%HideFields.label" enabled="false" description="%HideFields.description" class="org.ebayopensource.vjet.eclipse.internal.ui.filters.FieldsFilter" id="org.ebayopensource.vjet.eclipse.ui.quickOutline.FieldsFilter">
      </filter>
      <filter targetId="org.eclipse.dltk.mod.internal.ui.text.QuickOutline" name="%HideStatics.label" enabled="false" description="%HideStatics.description" class="org.ebayopensource.vjet.eclipse.internal.ui.filters.StaticsFilter" id="org.ebayopensource.vjet.eclipse.ui.quickOutline.StaticsFilter">
      </filter>
      <filter targetId="org.eclipse.dltk.mod.internal.ui.text.QuickOutline" name="%HideNonPublic.label" enabled="false" description="%HideNonPublic.description" class="org.ebayopensource.vjet.eclipse.internal.ui.filters.NonPublicFilter" id="org.ebayopensource.vjet.eclipse.ui.quickOutline.NonPublicFilter">
      </filter>
      <filter targetId="org.eclipse.dltk.mod.internal.ui.text.QuickOutline" name="%HideLocalTypes.label" enabled="false" description="%HideLocalTypes.description" class="org.ebayopensource.vjet.eclipse.internal.ui.filters.LocalTypesFilter" id="org.ebayopensource.vjet.eclipse.ui.quickOutline.LocalTypesFilter">
      </filter>
       
      
      </extension>
  <extension point="org.eclipse.ltk.core.refactoring.refactoringContributions">
     <contribution class="org.ebayopensource.vjet.eclipse.internal.ui.refactoring.RenameVjoTypeRefactoringContribution" id="org.ebayopensource.vjet.eclipse.ui.rename.type">
     </contribution>
     <contribution class="org.ebayopensource.vjet.eclipse.internal.ui.refactoring.RenameVjoSourceModuleRefactoringContribution" id="org.ebayopensource.vjet.eclipse.ui.rename.sourcemodule">
     </contribution>
     
     <contribution class="org.ebayopensource.vjet.eclipse.internal.ui.refactoring.RenameVjoScriptFolderRefactoringContribution" id="org.ebayopensource.vjet.eclipse.ui.rename.scriptfolder">
     </contribution>
     
     
  </extension>
  <extension point="org.eclipse.ui.views">
     <view category="org.ebayopensource.vjet.eclipse.ui.javascript.browsing" class="org.ebayopensource.vjet.eclipse.internal.ui.view.scriptunit.ScriptUnitView" icon="icons/full/eview16/script_unit.gif" id="org.ebayopensource.vjet.eclipse.ui.view.scriptUnit" name="%scriptUnitView.name">
     </view>
     <view category="org.ebayopensource.vjet.eclipse.ui.javascript.browsing" class="org.ebayopensource.vjet.eclipse.internal.ui.view.typespace.TypespaceView" icon="icons/full/eview16/script_unit.gif" id="org.ebayopensource.vjet.eclipse.ui.view.typeSpace" name="%typeSpaceView.name">
     </view>
     <view category="org.ebayopensource.vjet.eclipse.ui.javascript.browsing" class="org.ebayopensource.vjet.eclipse.internal.ui.view.ast.ASTView" icon="icons/full/eview16/script_unit.gif" id="org.ebayopensource.vjet.eclipse.ui.view.AST" name="%astView.name">
     </view>
     <view
           allowMultiple="false"
           category="org.ebayopensource.vjet.eclipse.ui.javascript.browsing"
           class="org.ebayopensource.vjet.eclipse.internal.ui.view.doc.JsdocView"
           icon="icons/full/obj16/jsdoc_tag_obj.gif"
           id="org.ebayopensource.vjet.eclipse.ui.view.jsdoc"
           name="%jsdocView.name">
     </view>
  </extension>
  <extension point="org.eclipse.core.runtime.adapters">
     <factory adaptableType="org.ebayopensource.dsf.jst.IJstNode" class="org.ebayopensource.vjet.eclipse.internal.ui.view.properties.JstNodePropertiesAdapterFactory">
        <adapter type="org.eclipse.ui.views.properties.IPropertySource">
        </adapter>
     </factory>
     <factory adaptableType="org.eclipse.mod.wst.jsdt.core.ast.IASTNode" class="org.ebayopensource.vjet.eclipse.internal.ui.view.properties.AstNodePropertiesAdapterFactory">
        <adapter type="org.eclipse.ui.views.properties.IPropertySource">
        </adapter>
     </factory>
     <factory adaptableType="org.eclipse.mod.wst.jsdt.core.compiler.IProblem" class="org.ebayopensource.vjet.eclipse.internal.ui.view.properties.AstNodePropertiesAdapterFactory">
        <adapter type="org.eclipse.ui.views.properties.IPropertySource">
        </adapter>
     </factory>
     <factory adaptableType="org.eclipse.mod.wst.jsdt.internal.compiler.CompilationResult" class="org.ebayopensource.vjet.eclipse.internal.ui.view.properties.AstNodePropertiesAdapterFactory">
        <adapter type="org.eclipse.ui.views.properties.IPropertySource">
        </adapter>
     </factory>
      <factory adaptableType="java.util.List" class="org.ebayopensource.vjet.eclipse.internal.ui.view.properties.ListPropertiesAdapterFactory">
        <adapter type="org.eclipse.ui.views.properties.IPropertySource">
        </adapter>
     </factory>
  </extension>
  
  <extension point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension targetID="org.ebayopensource.vjet.eclipse.ui.JavascriptBrowsingPerspective">
        <actionSet id="org.ebayopensource.vjet.eclipse.ui.VjetActionSet">
        </actionSet>
     </perspectiveExtension>
  </extension>
  
  <extension point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension targetID="org.eclipse.dltk.mod.javascript.ui.JavascriptPerspective">
        <actionSet id="org.ebayopensource.vjet.eclipse.ui.VjetActionSet">
        </actionSet>
     </perspectiveExtension>
  </extension>

  <extension
        point="org.eclipse.ui.startup">
     <startup
           class="org.ebayopensource.vjet.eclipse.ui.VjetUIPlugin"></startup>
  </extension>
  
   <extension
         point="org.eclipse.dltk.mod.ui.buildpathContainerPage">
      <buildpathContainerPath
            class="org.ebayopensource.vjet.eclipse.internal.ui.wizards.VJetJsBuildPathWizard"
            id="org.ebayopensource.vjet.eclipse.core.JSNATIVE_CONTAINER/JS Native Types"
            name="JavaScript Type Library"
            nature="org.ebayopensource.vjet.core.nature">
      </buildpathContainerPath>
   </extension>
   
      <extension
         point="org.eclipse.dltk.mod.ui.buildpathContainerPage">
      <buildpathContainerPath
            class="org.ebayopensource.vjet.eclipse.internal.ui.wizards.VJetTLBuildPathWizard"
            id="org.ebayopensource.vjet.eclipse.core.VJETTL/ZIP"
            name="VJET Type Libraries"
            nature="org.ebayopensource.vjet.core.nature">
      </buildpathContainerPath>
   </extension>

   <extension
         point="org.eclipse.dltk.mod.ui.buildpathContainerPage">
      <buildpathContainerPath
            class="org.ebayopensource.vjet.eclipse.internal.ui.wizards.VJetBrowserBuildPathWizard"
            id="org.ebayopensource.vjet.eclipse.core.BROWSER_CONTAINER/Browser SDK"
            name="JavaScript Browser Library"
            nature="org.ebayopensource.vjet.core.nature">
      </buildpathContainerPath>
   </extension>
   <extension
         point="org.eclipse.dltk.mod.ui.buildpathContainerPage">
      <buildpathContainerPath
            class="org.ebayopensource.vjet.eclipse.internal.ui.wizards.VJetVjoBuildPathWizard"
            id="org.ebayopensource.vjet.eclipse.core.VJO_CONTAINER/VJO LIB"
            name="Vjo Support Library"
            nature="org.ebayopensource.vjet.core.nature">
      </buildpathContainerPath>
   </extension> 
   
</plugin>
