<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="org.ebayopensource.vjet.eclipse.launching.VjetLaunchConfigurationType">
<booleanAttribute key="buildBeforeLaunch" value="false"/>
<booleanAttribute key="enableBreakOnFirstLine" value="false"/>
<booleanAttribute key="enableDbgpLogging" value="true"/>
<booleanAttribute key="java2jsBeforeLaunch" value="false"/>
<stringAttribute key="mainScript" value="src/debug/SimpleMain1.js"/>
<stringAttribute key="nature" value="org.ebayopensource.vjet.core.nature"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/VJETProject/src/debug/SimpleMain1.js"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="VJETProject"/>
<stringAttribute key="project" value="VJETProject"/>
</launchConfiguration>