<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

  <extension point="org.eclipse.core.runtime.preferences">
    <initializer 
      class="org.eclipse.dltk.mod.javascript.internal.debug.JavaScriptDebugPreferenceInitializer"/>
  </extension>

   <extension
         point="org.eclipse.dltk.mod.debug.scriptDebugModel">
      <debugModel
            debugModelId="org.eclipse.dltk.mod.debug.javascriptModel"
            natureId="org.eclipse.dltk.mod.javascript.core.nature"
            debugToolkit="org.eclipse.dltk.mod.javascript.internal.debug.JavascriptDebugToolkit"
            typeFactory="org.eclipse.dltk.mod.javascript.internal.debug.JavaScriptTypeFactory">
      </debugModel>
   </extension> 
</plugin>
