<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="resolver" name="Reference Resolver" schema="schema/resolver.exsd"/>

  <extension point="org.eclipse.core.runtime.preferences">
    <initializer
      class="org.eclipse.dltk.mod.javascript.internal.core.JavaScriptCorePreferenceInitializer" />
  </extension>

<extension
         id="nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.eclipse.dltk.mod.javascript.core.JavaScriptNature"/>
      </runtime>
   </extension> 
   
   <extension
         point="org.eclipse.dltk.mod.core.language">
      <language
            class="org.eclipse.dltk.mod.javascript.core.JavaScriptLanguageToolkit"
            nature="org.eclipse.dltk.mod.javascript.core.nature"/>
</extension>

   <extension
         point="org.eclipse.dltk.mod.javascript.core.resolver">
      <resolver
            class="org.eclipse.dltk.mod.internal.javascript.reference.resolvers.SourceBasedResolverFactory"
            id="sourceResolver">
      </resolver>
   </extension>

   <extension
         point="org.eclipse.dltk.mod.core.mixin">
      <mixin
            class="org.eclipse.dltk.mod.javascript.internal.core.mixin.JavaScriptMixinParser"
            nature="org.eclipse.dltk.mod.javascript.core.nature">
      </mixin>
   </extension>
   <extension
         point="org.eclipse.dltk.mod.core.sourceParsers">
      <parserContribution
            natureId="org.eclipse.dltk.mod.javascript.core.nature">
         <parser
               class="org.eclipse.dltk.mod.internal.javascript.parser.JavaScriptSourceParserFactory"
               description="JavaScript Source Parser"
               id="org.eclipse.dltk.mod.javascript.sourceParser"
               name="JavaScript Source Parser"
               priority="0" />
      </parserContribution>
   </extension>
   <extension
         point="org.eclipse.dltk.mod.core.sourceElementParsers">
      <parser
            class="org.eclipse.dltk.mod.internal.javascript.parser.JavaScriptSourceElementParser"
            nature="org.eclipse.dltk.mod.javascript.core.nature"
            priority="0">
      </parser>
   </extension>
   <extension
         point="org.eclipse.dltk.mod.core.completionEngine">
      <completionEngine
            class="org.eclipse.dltk.mod.javascript.internal.core.codeassist.completion.JavaScriptCompletionEngine"
            nature="org.eclipse.dltk.mod.javascript.core.nature"
            priority="0">
      </completionEngine>
   </extension>
   <extension
         point="org.eclipse.dltk.mod.core.selectionEngine">
      <selectionEngine
            class="org.eclipse.dltk.mod.javascript.internal.core.codeassist.selection.JavaScriptSelectionEngine"
            nature="org.eclipse.dltk.mod.javascript.core.nature"
            priority="0">
      </selectionEngine>
   </extension>
   <extension
         point="org.eclipse.dltk.mod.core.search">
      <seachFactory
            class="org.eclipse.dltk.mod.javascript.internal.core.JavaScriptSearchFactory"
            nature="org.eclipse.dltk.mod.javascript.core.nature"
            priority="0">
      </seachFactory>
   </extension>
   <extension
         point="org.eclipse.dltk.mod.core.callHierarchy">
      <callHerarchiesFactory
            class="org.eclipse.dltk.mod.javascript.internal.core.JavaScriptCallHierarchyFactory"
            nature="org.eclipse.dltk.mod.javascript.core.nature"
            priority="0">
      </callHerarchiesFactory>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            id="org.eclipse.dltk.mod.javascriptContentType"
            name="JavaScript source file"
            priority="high">
            <!--             file-extensions="js"
            file-names="js"
            -->
      </content-type> 
   </extension>

<extension
    point="org.eclipse.dltk.mod.core.buildParticipant">
      <buildParticipant
            class="org.eclipse.dltk.mod.core.builder.ParserBuildParticipantFactory"
            id="org.eclipse.dltk.mod.javascript.buildParticipant.parser"
            name="JavaScript parser"
            nature="org.eclipse.dltk.mod.javascript.core.nature">
      </buildParticipant>
    <buildParticipant
      class="org.eclipse.dltk.mod.internal.javascript.parser.JavaScriptTodoParserType"
      id="org.eclipse.dltk.mod.javascript.todo"
      name="JavaScript TODO task parser"
      nature="org.eclipse.dltk.mod.javascript.core.nature">
      <requires
            id="org.eclipse.dltk.mod.javascript.buildParticipant.parser">
      </requires>
    </buildParticipant>
  </extension>   
   
   
</plugin>
