<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/VJETIntro/overview.xml">
      </configExtension>
      <configExtension
            configId="org.eclipse.ui.intro.universalConfig"
            content="$nl$/VJETIntro/tutorial.xml">
      </configExtension>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <cheatsheet
            category="org.ebayopensource.vjet.js"
            contentFile="$nl$/cheatsheets/HelloWorld.xml"
            id="org.ebayopensource.vjet.js.helloWorld"
            name="Create a Hello World JS application">
         <description>
            Create a Hello World JS application
         </description>
      </cheatsheet>
      <category
            id="org.ebayopensource.vjet.js"
            name="JavaScript Development">
      </category>
   </extension>

</plugin>
