<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="VJETV"
         point="org.eclipse.core.runtime.applications">
      <application
            thread="main"
            visible="true">
         <run
               class="org.ebayopensource.vjet.eclipse.vjetv.VJETVRunner">
         </run></application>
   </extension>

</plugin>
