<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.ebayopensource.eclipse.vjet.javalaunch.JavaSourcePreferencePage"
            id="org.ebayopensource.eclipse.vjet.javalaunch.JavaSourcePreferencePage"
            name="Java Source Path">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.ebayopensource.eclipse.vjet.javalaunch.utils.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
          <startup
             class="org.ebayopensource.eclipse.vjet.javalaunch.utils.LaunchUtilEarlyStartup">
       </startup>
   </extension>

</plugin>
