<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.dltk.mod.launching.interpreterInstallTypes">
      <interpreterInstallType
            class="org.ebayopensource.vjet.eclipse.internal.launching.GenericVjetInstallType"
            id="org.ebayopensource.vjet.eclipse.launcher.GenericRhinoInstallType">
      </interpreterInstallType>
   </extension>
  <!-- extension point="org.eclipse.debug.core.launchDelegates">
    <launchDelegate
      delegate="org.eclipse.dltk.mod.javascript.internal.launching.JavaLocalApplicationLaunchConfigurationDelegate"
      id="com.Instantiations.profiler.localJavaApplicationDelegate"
      modes="debug"
      name="Debugging with JavaScript debug support"
      type="org.eclipse.jdt.launching.localJavaApplication">
    </launchDelegate>
  </extension -->
  <extension
        point="org.eclipse.dltk.mod.console.scriptInterpreter">
     <scriptInterpreter
           class="org.ebayopensource.vjet.eclipse.console.VjetInterpreter"
           natureID="org.ebayopensource.vjet.core.nature"/>
  </extension>
  <extension
        point="org.eclipse.debug.ui.launchConfigurationTypeImages">
     <launchConfigurationTypeImage
           configTypeID="org.ebayopensource.vjet.eclipse.launching.VjetLaunchConfigurationType"
           icon="icons/javascript.gif"
           id="org.ebayopensource.vjet.eclipse.launching.VjetConfigurationTypeImage"/>
  </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.ebayopensource.vjet.eclipse.launching.VjetLaunchConfigurationDelegate"
            id="org.ebayopensource.vjet.eclipse.launching.VjetLaunchConfigurationType"
            modes="run,debug"
            name="VJET Js"
            public="true"
            sourceLocatorId="vjetSourceLocator"
            sourcePathComputerId="vjetSourceComputer">
      </launchConfigurationType>
   </extension>
     <extension
        point="org.eclipse.debug.ui.launchConfigurationTypeImages">
     <launchConfigurationTypeImage
           configTypeID="org.ebayopensource.vjet.eclipse.launching.VjetWebLaunchConfigurationType"
           icon="icons/javascript.gif"
           id="org.ebayopensource.vjet.eclipse.launching.VjetConfigurationTypeImage"/>
  </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.ebayopensource.vjet.eclipse.launching.VjetWebLaunchConfigurationDelegate"
            id="org.ebayopensource.vjet.eclipse.launching.VjetWebLaunchConfigurationType"
            modes="run"
            name="VJET Web"
            public="true"
            sourceLocatorId="vjetSourceLocator"
            sourcePathComputerId="vjetSourceComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="org.ebayopensource.vjet.eclipse.launching.VjetSourcePathComputer"
            id="vjetSourceComputer"/>
   </extension>
   
  <extension point="org.eclipse.debug.core.sourceLocators">
    <sourceLocator
      class="org.ebayopensource.vjet.eclipse.internal.launching.VjetSourceLookupDirector"
      id="vjetSourceLocator"
      name="org.ebayopensource.vjet.eclipse.launching.vjetSourceLocator" />
  </extension>
   <extension
         point="org.eclipse.dltk.mod.launching.debuggingEngine">
      <engineContribution
            natureId="org.ebayopensource.vjet.core.nature">
         <selector
               class="org.ebayopensource.vjet.eclipse.launching.VjetDebuggingEngineSelector">
         </selector>
      </engineContribution>
   </extension>
    <extension
        point="org.eclipse.dltk.mod.launching.interpreterInstalls">
     <interpreterInstall
           home="${eclipse_home}"
           id="org.ebayopensource.vjet.eclipse.launching.embeddedRhino"
           interpreterInstallType="org.ebayopensource.vjet.eclipse.launcher.GenericRhinoInstallType"
           name="VJET Rhino Interpreter"/>
  </extension>
  <extension
        point="org.eclipse.dltk.mod.launching.runtimeBuildpathEntryResolvers">
     <runtimeBuildpathEntryResolver
           class="org.ebayopensource.vjet.eclipse.internal.launching.JsSdkBuildpathEntryResolver"
           container="org.ebayopensource.vjet.eclipse.core.SDK_CONTAINER"
           id="org.ebayopensource.vjet.eclipse.core.sdkBuildpathEntryResolver"/>
  </extension>
  <extension
        point="org.eclipse.dltk.mod.launching.runtimeBuildpathEntryResolvers">
     <runtimeBuildpathEntryResolver
           class="org.ebayopensource.vjet.eclipse.internal.launching.JsSdkBuildpathEntryResolver"
           container="org.ebayopensource.vjet.eclipse.core.JSNATIVE_SDK"
           id="org.ebayopensource.vjet.eclipse.core.jsBuildpathEntryResolver"/>
  </extension>
  <extension
        point="org.eclipse.dltk.mod.core.buildpathContainerInitializer">
     <buildpathContainerInitializer
           class="org.ebayopensource.vjet.eclipse.internal.launching.SdkContainerInitializer"
           id="org.ebayopensource.vjet.eclipse.core.SDK_CONTAINER"/>
  </extension>
  <extension
        point="org.eclipse.dltk.mod.core.buildpathContainerInitializer">
     <buildpathContainerInitializer
           class="org.ebayopensource.vjet.eclipse.internal.launching.JsContainerInitializer"
           id="org.ebayopensource.vjet.eclipse.core.JSNATIVE_CONTAINER"/>
  </extension>
  <extension
        point="org.eclipse.dltk.mod.core.buildpathContainerInitializer">
     <buildpathContainerInitializer
           class="org.ebayopensource.vjet.eclipse.internal.launching.BrowserContainerInitializer"
           id="org.ebayopensource.vjet.eclipse.core.BROWSER_CONTAINER"/>
  </extension>
  <extension
        point="org.eclipse.dltk.mod.core.buildpathContainerInitializer">
     <buildpathContainerInitializer
           class="org.ebayopensource.vjet.eclipse.internal.launching.VjoContainerInitializer"
           id="org.ebayopensource.vjet.eclipse.core.VJO_CONTAINER"/>
  </extension>
    <extension
        point="org.eclipse.dltk.mod.core.buildpathContainerInitializer">
     <buildpathContainerInitializer
           class="org.ebayopensource.vjet.eclipse.internal.launching.VJETZipContainerInitializer"
           id="org.ebayopensource.vjet.eclipse.core.VJETTL"/>
  </extension>
 
</plugin>
