<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  
   <extension
         id="testnature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.eclipse.dltk.mod.core.tests.model.TestNature"/>
      </runtime>
   </extension> 
   
   <extension
         point="org.eclipse.dltk.mod.core.language">
      <language
            class="org.eclipse.dltk.mod.core.tests.model.TestLanguageToolkit"
            nature="org.eclipse.dltk.mod.core.tests.testnature"/>
   </extension>
   <extension
         point="org.eclipse.dltk.mod.core.buildpathContainerInitializer">
      <buildpathContainerInitializer
            class="org.eclipse.dltk.mod.core.tests.buildpath.TestieContainerInitializer"
            id="Testie"/>
   </extension>


  <extension
        point="org.eclipse.dltk.mod.core.sourceElementParsers">
     <parser
           class="org.eclipse.dltk.mod.core.tests.model.TestSourceElementParser"
           nature="org.eclipse.dltk.mod.core.tests.testnature"
           priority="0">
     </parser>
  </extension>
  <extension
        point="org.eclipse.team.core.repository">
     <repository
           class="org.eclipse.dltk.mod.core.tests.model.TestPessimisticProvider"
           id="org.eclipse.dltk.mod.core.tests.model.pessimisticnature">
     </repository>
  </extension>
  <extension
        point="org.eclipse.dltk.mod.core.sourceParsers">
     <parserContribution
           natureId="org.eclipse.dltk.mod.core.tests.testnature">
        <parser
              class="org.eclipse.dltk.mod.core.tests.model.TestSourceParserFactory"
              description="Test Source Parser"
              id="org.eclipse.dltk.mod.core.tests.sourceParser"
              name="Test Source Parser"
              priority="1">
        </parser>
     </parserContribution>
  </extension>
  <extension
        point="org.eclipse.core.runtime.contentTypes">
     <content-type
           base-type="org.eclipse.core.runtime.text"
           describer="org.eclipse.dltk.mod.core.tests.TestContentDescriber"
           file-extensions="txt"
           id="org.eclipse.dltk.mod.core.test.testContentType"
           name="%content-type.name.dltkTest"
           priority="high">
     </content-type>
  </extension>
  <extension
        point="org.eclipse.dltk.mod.core.mixin">
     <mixin
           class="org.eclipse.dltk.mod.core.tests.TestMixinParser"
           nature="org.eclipse.dltk.mod.core.tests.testnature"
           priority="0">
     </mixin>
  </extension>

</plugin>
