<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
        point="org.eclipse.dltk.mod.launching.interpreterInstalls">
     <interpreterInstall
           home="${eclipse_home}"
           id="org.eclipse.dltk.mod.javascript.launching.embeddedRhino"
           interpreterInstallType="org.eclipse.dltk.mod.internal.debug.ui.launcher.GenericRhinoInstallType"
           name="Rhino Interpreter">
     </interpreterInstall>
  </extension>

</plugin>
