<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Restored Target" sequenceNumber="5">
<locations>
<location path="${eclipse_home}" type="Profile"/>
<location includeAllPlatforms="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.ebay.kernel.binary.feature.group" version="1.0.0.201104251451"/>
<unit id="com.ebay.tools.binary.feature.group" version="1.0.0.201104251451"/>
<repository location="http://www.ebayopensource.org/svn/vjet/trunk/dependency/"/>
</location>
</locations>
<environment>
<os>macosx</os>
<ws>cocoa</ws>
<arch>x86_64</arch>
<nl>en_US</nl>
</environment>
</target>
