<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
        <!-- 
              <page
            category="org.ebayopensource.vjet.eclipse.preferences.debug"
            class="org.ebayopensource.vjet.eclipse.internal.debug.ui.pref.VjetDebuggingEnginePrefPage"
            id="org.ebayopensource.vjet.eclipse.preferences.debug.engines"
            name="%Engines.PreferencePage">
      </page>
        <page
            category="org.ebayopensource.vjet.eclipse.preferences.debug.engines"
            class="org.ebayopensource.vjet.eclipse.internal.debug.debugger.pref.VjetDebuggerPrefPage"
            id="org.ebayopensource.vjet.eclipse.preferences.debug.engines.vjetdebugger"
            name="%PreferencePage.name">
      </page>
            <page
            category="org.ebayopensource.vjet.eclipse.ui.vjet"
            class="org.ebayopensource.vjet.eclipse.internal.debug.ui.interpreters.VjetInterpreterPrefPage"
            id="org.ebayopensource.vjet.eclipse.preferences.interpreter"
            name="%Interpreters.PreferencePage">
      </page>
      -->
      <page
            category="org.ebayopensource.vjet.eclipse.preferences.debug"
            class="org.ebayopensource.vjet.eclipse.internal.debug.debugger.pref.VjetDebuggerAttachmentPreferencePage"
            id="org.ebayopensource.vjet.eclipse.preferences.debug.debuggerattachment"
            name="%page.debuggerattachment">
      </page>
         <page category="org.ebayopensource.vjet.eclipse.ui.vjet"
			class="org.eclipse.dltk.mod.debug.ui.preferences.ScriptDebugPreferencePage"
			id="org.ebayopensource.vjet.eclipse.preferences.debug"
			name="%Debug.PreferencePage">
			</page>
			
      <page
            category="org.ebayopensource.vjet.eclipse.preferences.debug"
            class="org.ebayopensource.vjet.eclipse.internal.debug.ui.pref.VjetDebugPrefPage"
            id="org.ebayopensource.vjet.eclipse.preferences.debug.vjetgeneral"
            name="%Debug.GeneralPreferencePage">
      </page>
      <page
            category="org.ebayopensource.vjet.eclipse.preferences.debug"
            class="org.ebayopensource.vjet.eclipse.internal.debug.ui.pref.VjetStepFilterPreferencePage:org.ebayopensource.vjet.core.nature"
            id="org.ebayopensource.vjet.eclipse.preferences.debug.stepfiltering"
            name="%StepFilteringPrefPage.name">
      </page>
      <page
            category="org.ebayopensource.vjet.eclipse.preferences.debug"
            class="org.ebayopensource.vjet.eclipse.internal.debug.ui.pref.VjetVariableViewPrefPage"
            id="org.ebayopensource.vjet.eclipse.preferences.debug.variableView"
            name="%VariableViewPrefPage.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="org.ebayopensource.vjet.eclipse.propertyPage"
            class="org.ebayopensource.vjet.eclipse.internal.debug.ui.pref.VjetDebugPrefPage"
            id="org.ebayopensource.vjet.eclipse.propertyPage.debug"
            name="%Debug.PropertyPage">
            	<enabledWhen>
		        <adapt type="org.eclipse.core.resources.IProject">
		          <test property="org.eclipse.core.resources.projectNature" value="org.ebayopensource.vjet.core.nature"/>
		        </adapt>         
		      </enabledWhen>
      </page>
   </extension>
   
   <extension point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.ebayopensource.vjet.eclipse.internal.debug.ui.launcher.VjetLaunchShortcut"
            icon="icons/javascript.gif"
            id="org.ebayopensource.vjet.eclipse.debug.ui.launchShortcut"
            label="VJET JS application"
            modes="run, debug">
				<contextualLaunch>
					<enablement>
					<with variable="selection">
						<count value="1"/>
						<iterate>
							<or>
								<test property="org.ebayopensource.vjet.eclipse.debug.launchJS"/>
               	    			<test property="org.ebayopensource.vjet.eclipse.debug.launchHTML"/>
							</or>
						</iterate>
					</with>
					</enablement>
      			</contextualLaunch>
	</shortcut>
      <shortcut
            class="org.ebayopensource.vjet.eclipse.internal.debug.ui.launcher.VjetWebLaunchShortcut"
            icon="icons/javascript.gif"
            id="org.ebayopensource.vjet.eclipse.debug.ui.launchShortcut"
            label="VJET Web application"
            modes="run">
         <contextualLaunch>
            <enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <test
                              property="org.ebayopensource.vjet.eclipse.debug.launchJS">
                        </test>
                        <test
                              property="org.ebayopensource.vjet.eclipse.debug.launchHTML">
                        </test>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   
  <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.ebayopensource.vjet.eclipse.internal.debug.ui.launchConf.VjetTabGroup"
            id="org.ebayopensource.vjet.eclipse.debug.ui.launchConfigurations.VjetJsGroup"
            type="org.ebayopensource.vjet.eclipse.launching.VjetLaunchConfigurationType">
         <launchMode
               description="Debug VJET JS application"
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
         <launchMode
               description="Run a VJET JS application"
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="org.ebayopensource.vjet.eclipse.internal.debug.ui.launchConf.VjetTabGroup"
            id="org.ebayopensource.vjet.eclipse.debug.ui.launchConfigurations.VjetWebAppGroup"
            type="org.ebayopensource.vjet.eclipse.launching.VjetWebLaunchConfigurationType">
         <!--<launchMode
               description="Debug VJET Web application"
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>-->
         <launchMode
               description="Run a VJET Web application"
               mode="run">
         </launchMode>
      </launchConfigurationTabGroup>
      <launchConfigurationTabGroup
            class="org.ebayopensource.vjet.eclipse.internal.debug.ui.html.HtmlTabGroup"
            id="org.ebayopensource.vjet.eclipse.debug.ui.launchConfigurations.HTMLTabGroup"
            type="org.ebayopensource.vjet.eclipse.launching.HTMLLaunchConfigurationType">
         <launchMode
               description="Run a VJET JS application from html"
               mode="run">
         </launchMode>
         <launchMode
               description="Run a VJO application from html"
               mode="debug"
               perspective="org.eclipse.debug.ui.DebugPerspective">
         </launchMode>
      </launchConfigurationTabGroup>
   </extension>
   
   <extension
         point="org.eclipse.dltk.mod.ui.buildpathContainerPage">
      <buildpathContainerPath
            class="org.ebayopensource.vjet.eclipse.internal.debug.ui.interpreters.VjetInterpreterContainerWizardPage"
            id="org.ebayopensource.vjet.eclipse.launching.INTERPRETER_CONTAINER"
            name="VJET Interpreter Libraries"
            nature="org.ebayopensource.vjet.core.nature">
      </buildpathContainerPath>
   </extension>
   
     <extension point="org.eclipse.ui.editorActions">
    <editorContribution
      targetID="org.ebayopensource.vjet.ui.VjetJsEditor"
      id="org.ebayopensource.vjet.eclipse.debug.VjoEditor.BreakpointRulerActions">

      <action
        label="Togle Breakpoint (label not used)"
        class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
        style="push"
        actionID="RulerDoubleClick"
        id="javascript.doubleClickBreakpointAction" />


    </editorContribution>
  </extension>
  
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.ebayopensource.vjet.eclipse.internal.ui.editor.VjoEditor"
            class="org.ebayopensource.vjet.eclipse.internal.debug.ui.VjetEditorDebugAdapterFactory">
      <adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget" />
      <adapter type="org.eclipse.debug.ui.actions.IRunToLineTarget" />
      </factory>
      <factory
            adaptableType="org.eclipse.dltk.mod.core.IMethod"
            class="org.ebayopensource.vjet.eclipse.internal.debug.ui.VjetEditorDebugAdapterFactory">
      <adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget" />
      <adapter type="org.eclipse.debug.ui.actions.IRunToLineTarget" />
      </factory>
      <factory
            adaptableType="org.eclipse.wst.sse.ui.StructuredTextEditor"
            class="org.ebayopensource.vjet.eclipse.internal.debug.ui.html.HtmlEditorDebugAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
         <adapter
               type="org.eclipse.debug.ui.actions.IRunToLineTarget">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.dltk.mod.ui.editorTextHovers">
      <hover
            class="org.ebayopensource.vjet.eclipse.internal.debug.ui.VjetDebugHover"
            id="org.ebayopensource.vjet.eclipse.internal.debug.ui.VjetDebugHover"
            label="%VjetVariableHoverLabel">
      </hover>
   </extension>
   <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.ebayopensource.vjet.eclipse.internal.debug.ui.VjetDebugModelPresentation"
            id="org.ebayopensource.vjet.eclipse.debug.vjetModel">
      </debugModelPresentation>
   </extension>

  <extension point="org.eclipse.ui.console.consoleFactories">
    <consoleFactory
      class="org.ebayopensource.vjet.eclipse.internal.console.ui.VjetConsoleFactory"
      label="%TclConsole.Console" />
  </extension>

  <extension point="org.eclipse.dltk.mod.console.ui.scriptConsole">
    <scriptConsole
      class="org.ebayopensource.vjet.eclipse.internal.console.ui.VjetConsoleFactory"
      natureID="org.ebayopensource.vjet.core.nature" />
  </extension>

 <extension point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
      targetID="org.eclipse.dltk.mod.javascript.ui.JavascriptPerspective">
      <actionSet id="org.eclipse.debug.ui.breakpointActionSet"></actionSet>
    </perspectiveExtension>
  </extension>

  <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="menu:org.eclipse.debug.ui.VariableView">
      <menu
        label="%variablesViewMenu.name"
        id="org.ebayopensource.vjet.eclipse.debug.ui.menu.VariableView" />
    </menuContribution>
    <menuContribution locationURI="menu:org.ebayopensource.vjet.eclipse.debug.ui.menu.VariableView">
      <command 
        commandId="org.ebayopensource.vjet.eclipse.debug.ui.commands.toggleGlobalVariables"
        tooltip="%showGlobalVarsCommand.tooltip"     
        style="toggle" />
      <command 
        commandId="org.ebayopensource.vjet.eclipse.debug.ui.commands.toggleClassVariables"
        tooltip="%showClassVarsCommand.tooltip"      
        style="toggle" />       
      <command 
        commandId="org.ebayopensource.vjet.eclipse.debug.ui.commands.toggleLocalVariables"
        tooltip="%showLocalVarsCommand.tooltip" 
        style="toggle" />                      
    </menuContribution>  
  </extension>
 
  <extension point="org.eclipse.ui.commands">
    <command
      id="org.ebayopensource.vjet.eclipse.debug.ui.commands.toggleGlobalVariables"
      description="%showGlobalVarsCommand.name"
      name="%showGlobalVarsCommand.description" />
    <command
      id="org.ebayopensource.vjet.eclipse.debug.ui.commands.toggleClassVariables"
      description="%showClassVarsCommand.name"
      name="%showClassVarsCommand.description" />
    <command
      id="org.ebayopensource.vjet.eclipse.debug.ui.commands.toggleLocalVariables"
      description="%showLocalVarsCommand.name"
      name="%showLocalVarsCommand.description" />
    <command
          categoryId="org.eclipse.debug.ui.category.run"
          description="Debug As VJET"
          id="org.ebayopensource.vjet.eclipse.debug.ui.launchShortcut.debug"
          name="Debug As VJET">
    </command>
    <command
          categoryId="org.eclipse.debug.ui.category.run"
          description="Run As VJET"
          id="org.ebayopensource.vjet.eclipse.debug.ui.launchShortcut.run"
          name="Run As VJET">
    </command>      
  </extension>
 
   <extension point="org.eclipse.debug.core.watchExpressionDelegates">
    <watchExpressionDelegate
      debugModel="org.ebayopensource.vjet.eclipse.debug.vjetModel"
      delegateClass="org.eclipse.dltk.mod.internal.debug.core.model.ScriptWatchExpressionDelegate">
    </watchExpressionDelegate>
  </extension>
 
   <extension point="org.eclipse.debug.ui.debugModelContextBindings">
    <modelContextBinding
      contextId="org.eclipse.dltk.mod.debug.ui.debugging"
      debugModelId="org.ebayopensource.vjet.eclipse.debug.vjetModel" />
  </extension>
 
  <extension point="org.eclipse.ui.actionSetPartAssociations">
    <actionSetPartAssociation
      targetID="org.eclipse.debug.ui.launchActionSet">
      <part id="org.eclipse.dltk.mod.ui.ScriptExplorer"></part>
      <part id="org.ebayopensource.vjet.ui.VjetJsEditor"></part>
    </actionSetPartAssociation>
  </extension>
  
 <extension
       point="org.eclipse.ui.popupMenus">
    <viewerContribution
          id="org.eclipse.dltk.mod.debug.ui.DebugPopupActions"
          targetID="#VjoEditorContext">
      <visibility>
        <and>
          <systemProperty
            name="org.eclipse.dltk.mod.debug.ui.debuggerActive"
            value="true">
          </systemProperty>
          <objectClass name="org.eclipse.jface.text.ITextSelection">
          </objectClass>
        </and>
      </visibility>
       <action
             class="org.eclipse.dltk.mod.internal.debug.ui.actions.ScriptWatchAction"
             icon="/icons/watch_exp.gif"
             id="org.ebayopensource.vjet.eclipse.debug.ui.ScriptWatch"
             label="%ScriptWatch.label"
             menubarPath="additions">
       </action>
       <action
             class="org.eclipse.dltk.mod.internal.debug.ui.actions.PopupScriptInspectAction"
             definitionId="org.eclipse.dlkt.debug.ui.commands.ScriptInspect"
             icon="/icons/insp_sbook.gif"
             id="org.ebayopensource.vjet.eclipse.debug.ui.ScriptInspect"
             label="%ScriptInspect.label"
             menubarPath="additions">
       </action>
       <action
             class="org.eclipse.dltk.mod.internal.debug.ui.actions.PopupScriptDisplayAction"
             definitionId="org.eclipse.dlkt.debug.ui.commands.ScriptDisplay"
             icon="/icons/disp_sbook.gif"
             id="org.ebayopensource.vjet.eclipse.debug.ui.ScriptDisplay"
             label="%ScriptDisplay.label"
             menubarPath="additions">
       </action>
    </viewerContribution>
    <objectContribution
            objectClass="org.eclipse.dltk.mod.core.IMethod"
            id="org.eclipse.vjet.debug.ui.MethodBreakpointActions">
          <filter
        name="org.eclipse.vjet.ui.method"
        value="true">
      </filter>
         <action
               class="org.ebayopensource.vjet.eclipse.internal.debug.ui.actions.ToggleMethodBreakpointActionDelegate"
               enablesFor="+"
               helpContextId="manage_method_breakpoint_action_context"
               icon="icons/full/obj16/brkp_obj.gif"
               id="org.eclipse.vjet.debug.ui.MethodBreakpoint"
               label="%manageMethodBreakpointAction.label"
               menubarPath="additions">
         </action>
      </objectContribution>
    
 </extension>
    <extension point="org.eclipse.dltk.mod.debug.ui.language">
    <language
      class="org.ebayopensource.vjet.eclipse.internal.debug.ui.VjoDebugUILanguageToolkit"
      nature="org.ebayopensource.vjet.core.nature"/>
  </extension>
  
   <extension
         point="org.eclipse.dltk.mod.ui.actionFilterTester">
      <actionFilterTester
            class="org.ebayopensource.vjet.eclipse.internal.debug.ui.actions.MethodActionFilterTest"
            id="org.eclipse.vjet.ui.method">
      </actionFilterTester>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.wst.sse.ui.StructuredTextEditor"
            class="org.ebayopensource.vjet.eclipse.internal.debug.ui.html.HtmlEditorDebugAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
         <adapter
               type="org.eclipse.debug.ui.actions.IRunToLineTarget">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="org.ebayopensource.vjet.eclipse.debug.HtmlEditor.BreakpointRulerActions"
            targetID="org.eclipse.wst.html.core.htmlsource.source">
         <action
               actionID="RulerDoubleClick"
               class="org.ebayopensource.vjet.eclipse.internal.debug.ui.html.HtmlScriptToggleBreakpointActionDelegate"
               id="html.doubleClickBreakpointAction"
               label="Togle Breakpoint (label not used)"
               style="push">
         </action>
      </editorContribution>
   </extension>
     <extension point="org.eclipse.ui.handlers">
    <handler 
      commandId="org.ebayopensource.vjet.eclipse.debug.ui.commands.toggleGlobalVariables"
      class="org.ebayopensource.vjet.eclipse.internal.debug.ui.handlers.ToggleGlobalVariablesHandler" />
    <handler 
      commandId="org.ebayopensource.vjet.eclipse.debug.ui.commands.toggleClassVariables"
      class="org.ebayopensource.vjet.eclipse.internal.debug.ui.handlers.ToggleClassVariablesHandler" />
    <handler 
      commandId="org.ebayopensource.vjet.eclipse.debug.ui.commands.toggleLocalVariables"
      class="org.ebayopensource.vjet.eclipse.internal.debug.ui.handlers.ToggleLocalVariablesHandler" />      
  </extension>
     <extension
           point="org.eclipse.ui.bindings">
        <key
              commandId="org.ebayopensource.vjet.eclipse.debug.ui.launchShortcut.debug"
              contextId="org.eclipse.ui.globalScope"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="M3+M2+D V">
        </key>
        <key
              commandId="org.ebayopensource.vjet.eclipse.debug.ui.launchShortcut.run"
              contextId="org.eclipse.ui.globalScope"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="M3+M2+X V">
        </key>
     </extension>
     <extension
           point="org.eclipse.ui.views">
        <view
              category="org.ebayopensource.vjet.eclipse.ui.javascript.browsing"
              class="org.ebayopensource.vjet.eclipse.internal.debug.ui.views.RunningScriptView"
              icon="platform:/plugin/org.ebayopensource.vjet.eclipse.ui/icons/full/eview16/javascript_persp.gif"
              id="org.ebayopensource.vjet.eclipse.debug.ui.runningScriptView"
              name="%runningScriptView.name"
              restorable="true">
        </view>
     </extension>
     <extension
           point="org.eclipse.ui.perspectiveExtensions">
        <perspectiveExtension
              targetID="org.eclipse.debug.ui.DebugPerspective">
           <viewShortcut
                 id="org.ebayopensource.vjet.eclipse.debug.ui.runningScriptView">
           </viewShortcut>
           <view
                 id="org.ebayopensource.vjet.eclipse.debug.ui.runningScriptView"
                 minimized="false"
                 ratio="0.5"
                 relationship="stack"
                 relative="org.eclipse.debug.ui.VariableView"
                 visible="true">
           </view>
        </perspectiveExtension>
     </extension>
     <extension
           point="org.eclipse.dltk.mod.debug.smartStepEvaluator">
        <evaluator
              class="org.ebayopensource.vjet.eclipse.internal.debug.ui.VjetSmartStepEvaluator"
              nature="org.ebayopensource.vjet.core.nature"
              priority="0">
        </evaluator>
     </extension>
     <extension
           point="org.eclipse.core.runtime.preferences">
        <initializer
              class="org.ebayopensource.vjet.eclipse.internal.debug.ui.VjetDebugPreferenceInitializer">
        </initializer>
     </extension>
     <extension
           point="org.eclipse.debug.ui.variableValueEditors">
        <variableValueEditor
              class="org.ebayopensource.vjet.eclipse.internal.debug.ui.actions.VjetScriptVariableValueEditor"
              modelId="org.ebayopensource.vjet.eclipse.debug.vjetModel">
        </variableValueEditor>
     </extension>
   
   
 </plugin>
