<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  <!-- <extension-point id="validators" name="VJET Project Validators" schema="schema/validators.exsd"/> -->
   <extension-point id="typeconstruct" name="VJET Type Constructor" schema="schema/typeconstruct.exsd"/>
   <extension-point id="functionparam" name="VJET Function Param Extension" schema="schema/functionparam.exsd"/>
   <extension-point id="thisresolver" name="This scope resolver" schema="schema/thisresolver.exsd"/>
   <extension-point id="functionreturntype" name="Function Return Type Resolver" schema="schema/functionreturntype.exsd"/>
   <extension-point id="otypedef" name="OType definition resolver" schema="schema/otypedef.exsd"/>

   <extension
         id="org.ebayopensource.vjet.core.nature"
         name="%vjetNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.ebayopensource.vjet.eclipse.core.VjoNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            file-extensions="js"
            id="org.eclipse.dltk.mod.vjoContentType"
            name="%vjoContentType"
            priority="high">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.dltk.mod.core.language">
      <language
            class="org.ebayopensource.vjet.eclipse.core.VjoLanguageToolkit"
            nature="org.ebayopensource.vjet.core.nature">
      </language>
   </extension>
   <extension
         point="org.eclipse.dltk.mod.core.sourceElementParsers">
      <parser
            class="org.ebayopensource.vjet.eclipse.internal.compiler.VjoSourceElementParser"
            nature="org.ebayopensource.vjet.core.nature"
            priority="0">
      </parser> 
   </extension>
   <extension
         point="org.eclipse.dltk.mod.core.search">
      <seachFactory
            class="org.ebayopensource.vjet.eclipse.internal.core.VjetSearchFactory"
            nature="org.ebayopensource.vjet.core.nature">
      </seachFactory>
   </extension>
   <extension
         point="org.eclipse.dltk.mod.core.sourceModuleFactories">
      <factory
            class="org.ebayopensource.vjet.eclipse.core.JSSourceModuleFactory"
            nature="org.ebayopensource.vjet.core.nature"
            priority="0">
      </factory>
   </extension>
   <extension
        point="org.eclipse.dltk.mod.core.buildProblemReporterFactory">
      <factory
            class="org.ebayopensource.vjet.eclipse.core.parser.VjoBuildProblemReporterFactory"
            nature="org.ebayopensource.vjet.core.nature"
            priority="0">
      </factory>
   </extension>  
   <extension
         point="org.eclipse.dltk.mod.core.completionEngine">
      <completionEngine
            class="org.ebayopensource.vjet.eclipse.codeassist.VjoCompletionEngine"
            nature="org.ebayopensource.vjet.core.nature"
            priority="0">
      </completionEngine>
   </extension>
      <extension
         point="org.eclipse.dltk.mod.core.selectionEngine">
      <selectionEngine
            class="org.ebayopensource.vjet.eclipse.internal.codeassist.select.VjoSelectionEngine"
            nature="org.ebayopensource.vjet.core.nature"
            priority="0">
      </selectionEngine>
   </extension>
   <extension
         point="org.eclipse.dltk.mod.core.sourceParsers">
      <parserContribution
            natureId="org.ebayopensource.vjet.core.nature">
      <parser
             class="org.ebayopensource.vjet.eclipse.internal.parser.VjoSourceParserFactory"
             description="JavaScript Source Parser"
             id="org.eclipse.dltk.mod.javascript.sourceParser"
             name="JavaScript Source Parser"
             priority="0" />
      </parserContribution>
   </extension>
   
   
    <extension
         point="org.eclipse.dltk.mod.core.callHierarchy">
      <callHerarchiesFactory
            class="org.ebayopensource.vjet.eclipse.internal.core.VjoCallHierarchyFactory"
            nature="org.ebayopensource.vjet.core.nature"            		
            priority="0">
      </callHerarchiesFactory>
   </extension>
  <extension
    point="org.eclipse.dltk.mod.core.buildParticipant">
      <buildParticipant
            class="org.eclipse.dltk.mod.core.builder.ParserBuildParticipantFactory"
            id="org.ebayopensource.vjet.eclipse.buildParticipant.parser"
            name="VJET parser"
            nature="org.ebayopensource.vjet.core.nature">
      </buildParticipant>
    
  	<!-- Modify by Oliver, Add markers to TODO.  begin-->
	<buildParticipant
	  class="org.eclipse.dltk.mod.internal.javascript.parser.JavaScriptTodoParserType"
	  id="org.ebayopensource.vjet.eclipse.buildParticipant.todo"
	  name="VJET TODO task parser"
	  nature="org.ebayopensource.vjet.core.nature">
	  <requires
	        id="org.ebayopensource.vjet.eclipse.buildParticipant.parser">
	  </requires>
	</buildParticipant>
	<!-- Modify by Oliver, Add markers to TODO.  end-->
	
  </extension>
  <extension
        id="org.ebayopensource.vjet.eclipse.core.validation.VJetValidationPreferenceInitilizer"
        name="org.ebayopensource.vjet.eclipse.core.validation.VJetValidationPreferenceInitilizer"
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="org.ebayopensource.vjet.eclipse.core.validation.VJetValidationPreferenceInitilizer">
     </initializer>
  </extension>
  
  <extension 
	point="org.eclipse.core.resources.builders" 
	id="org.ebayopensource.vjet.eclipse.core.builder"
	name="%scriptBuilderName">
	<builder>
		<run class="org.ebayopensource.vjet.eclipse.core.builder.VjetScriptBuilder">
		</run>
	</builder>
</extension>


  <!-- Comment by Eirc.Ma 20090724 this extension will used in enhancement
  <extension point="org.eclipse.core.resources.markers"
			id="problemmarker"
			name="VJET Validation Problem Marker">
		<persistent value="true" />
  <super
        type="org.eclipse.core.resources.problemmarker">
  </super>
  <super
        type="org.eclipse.core.resources.textmarker">
  </super>
	</extension>

	<extension point="org.eclipse.ui.ide.markerSupport">
		<markerTypeCategory name="VJET Problem">
			<markerTypeReference id="org.ebayopensource.vjet.eclipse.core.problemmarker"/>
		</markerTypeCategory>
	</extension>
 -->
	    
</plugin>
