<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.ebayopensource.vjet.testframework.util.testsuite">
      <suite
            class="org.ebayopensource.vjet.eclipsetestutils.EclipseTestUtilsTests"
            pde="true">
      </suite>
   </extension>

</plugin>
